*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');


header{
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
  margin: 1.3rem;
  display: flex;
  flex-direction: column;
  width: 8rem;
  color: #000000;
  .logo{
    font-size: 1rem;
    text-transform: uppercase;
    span{
      margin: 0.2rem;
      padding: 0.2rem 0.7rem;
      background-color: #f2edeb;
      color: #5e0790;
      border-radius: 0.5rem;
    }
  }
  nav{
    display: flex;
    background-color: #250338;
    border-radius: 1rem;
    align-items: center;
    li{
      display: flex;
      align-items: center;
      list-style: none;
      margin: 2rem;
      a{
        padding: 0.5rem;
        text-decoration: none;
        color: #ffffff;
        font-weight: 300;
      }
      a:hover{
        background-color: #d1cbcb5e;
        border-radius: 0.2rem;
      }
    }
  }
  .nav-icon{
    margin: 1rem;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .none{
    transition: 0.5s;
    opacity: 0;
  }
  .active{
    transition: 0.5s;
    opacity: 1;
    z-index: 999;
  }

}



